<form [formGroup]="crudForm" >

    <div class="form-group">
      <label >First name</label>
      <input  class="form-control"  formControlName="firstName" placeholder="Enter First Name">
    </div>
    <div class="form-group">
        <label >Last Name</label>
        <input  class="form-control"   formControlName="lastName"  placeholder="Enter Last Name">
      </div>
      <div class="form-group">
        <label >Email</label>
        <input  class="form-control"  formControlName="email"  placeholder="Enter Email Address">
      </div>
      <div class="form-group">
        <label >Mobile No</label>
        <input  class="form-control"   formControlName="mobileNo"  placeholder="Enter Mobile No">
      </div>
      <div class="form-group">
        <label >Salary</label>
        <input  class="form-control" formControlName="salary"  placeholder="Enter Salary">
      </div>

   
    <button type="submit" (click)="addEmployee()"  class="btn btn-primary">Submit</button>
  </form>